<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mb.moodbooster">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logopeq"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:logo="@drawable/logopeq"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".SobreNosotros" />
        <activity
            android:name=".Registrarse"
            android:label="@string/title_activity_registrarse" />
        <activity
            android:name=".Ajustes"
            android:label="@string/title_activity_ajustes" />
        <activity
            android:name=".Historial"
            android:label="@string/title_activity_historial"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnyadirEstado"
            android:label="@string/title_activity_anyadir_estado"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
